# General
dist/
build/
node_modules/
__pycache__/
venv/
*.log
*.tmp
*.swp
*.DS_Store
*.bak

# C/C++
*.out
*.o
*.a
*.so
*.exe
*.dll
*.dSYM/
*.obj
*.lib

# Go
bin/
*.test
*.exe
*.mod
*.sum
vendor/

# Rust
target/
debug/
Cargo.lock

# Haskell (stack and cabal)
/dist/
.stack-work/
*.hi
*.o
*.hsenv
.cabal-sandbox/
cabal.project.local
*.prof
*.aux
*.hp
*.eventlog
*.dump-hi
*.dump-raw
*.tix

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
/.idea/

# JavaScript/TypeScript
*.tsbuildinfo
.eslintcache
coverage/
jspm_packages/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

