
# Ignore everything by default
*

# Allow only your source folders
!C/
!Cpp/
!Js/
!Ts/
!Rust/
!Golang/
!Assembly/
!Css/

# Allow files with specific extensions
!*.c
!*.cpp
!*.py
!*.rs
!*.ts
!*.js
!*.s
!*.asm
!*.go
!*.html
!*.css

# Explicitly ignore common build/dependency folders (defensive)
node_modules/
dist/
build/
.env
*.log

