* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
/*---------------------Solution---------------------------*/
ul > li {
  list-style: none;
}
.container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}
.header {
  display: grid;
  grid-area: 1/1/2/3;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.logo {
  justify-self: start;
}
.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sidebar {
  grid-area: 2/1/4/2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}
.side-content,
.photo {
  display: grid;
  align-items: center;
}
.nav {
  display: grid;
  align-items: center;
  grid-area: 2/2/3/3;
}
.nav > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.article {
  grid-area: 3/2/4/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.article .card {
  height: 200px;
}
.footer {
  grid-area: -1/1/-2/3;
  display: grid;
  align-items: center;
}
